.image{
    /* height:40em;  */
    height:60em;
    background-size:cover;
    width:auto;
    background-image:url('D:\Angularjs\CarSparcFinalProject\src\assets\background.jpg');
    background-position:50% 50%;
}
.card{
    /* border:2px solid white; */
    border:2px solid white; 
    border-radius: 20px;
     margin-top: 100px; 
    /* position: sticky;
    padding: 20px 20px; 
     
    margin-bottom: 30px; */

/*     
    -webkit-box-shadow: -5px 2px 62px 8px rgba(240,231,240,1);
        -moz-box-shadow: -5px 2px 62px 8px rgba(240,231,240,1);
         box-shadow: -5px 2px 62px 8px rgba(240,231,240,1); */
           
         -webkit-box-shadow: -5px 2px 62px 8px rgba(0,0,0,0.75);
         -moz-box-shadow: -5px 2px 62px 8px rgba(0,0,0,0.75);
          box-shadow: -5px 2px 62px 8px rgba(0,0,0,0.75); 

         /* box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
         -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
         -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); */

         
        
                   
        
}
img{
    width:130px;
    margin:auto;

}

h1{
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
}

.myinputcss{
    border-radius: 10px;
    /* margin-top:100px; */
    /* margin-top:10px; */
}

.mynavbar{
margin-left: 20px;
}
   
/* .container-fluid{
    margin: 0;
    padding: 0;
    width:2000px;
    
   

    height: 200%;
    overflow: auto; 

   

}     */


.buttonCancelUpdate{
    border-radius:30px;
    /* margin-top: 10px; */
    padding-block:20px;
    margin-top:30px;
    
    width:150px;
    height:60px;

}
.mybutton{
    border-radius: 30px;
    padding:15px 10px;
    margin-top: 30px;
    display: inline-block;
    
}