button{
    margin-top: 10px;
    border-radius: 30px;
    height: 60px;
    width: 140px;
}
/*.image{
    height:40em; 
    background-size:cover;
    width:auto;
    background-image: url('/assets/background.jpg');

    /* background-image:("assets/background.jpg"); */
    background-position:50% 50%;
<<<<<<< HEAD
  }*/
=======
    /* <img src="assets/car.png" class="brand_logo" alt="Logo" width="300"height="300"> */

  }
>>>>>>> 656290c6b87518e5b648e2949a54f09b924a9a09

#log{
    border: 2px solid white;
    padding: 25px 25px;
    /* -webkit-box-shadow: -5px 2px 62px 8px rgba(0,0,0,0.75);
-moz-box-shadow: -5px 2px 62px 8px rgba(0,0,0,0.75);
box-shadow: -5px 2px 62px 8px rgba(0,0,0,0.75); */
-webkit-box-shadow: -5px 2px 62px 8px rgba(240,231,240,1);
-moz-box-shadow: -5px 2px 62px 8px rgba(240,231,240,1);
box-shadow: -5px 2px 62px 8px rgba(240,231,240,1);
    
    
}
container{
    padding: 25px 25px;
}

img{
    width: 200px;
    padding: 20px;
    margin:auto;
}

h1{
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
}
label{
    font-size: 15px;
    color:wheat;
}

span{
    font-size: 15px;
    color:black;
    margin-top: 30px;
}
 a{
    color:darkblue; 
} 


button{
    -webkit-box-shadow: -5px 2px 62px 8px rgba(240,231,240,1);
    -moz-box-shadow: -5px 2px 62px 8px rgba(240,231,240,1);
    box-shadow: -5px 2px 62px 8px rgba(240,231,240,1);
    
   
}