



<div class=" container jumbotron image">

 <!-- <div class="card  hoverable small image" id="log"  >  -->

    <div class="row">
        
            
        <div class="col-sm-4" ></div>
             <div class="col-sm-4" id="log">
                        <button type="submit" value="usersignUp" [routerLink]="['/usersignUp']" class="btn btn-success btn-lg mybutton" style="margin-top: 200px;margin-bottom: 50px;"> User Sign-Up</button>
             
             
                        <button type="submit" class="btn btn-danger btn-lg mybutton" style="margin-bottom: 50px;">Service Center Sign-Up</button>
             
             </div>           
            </div>            
                    

    </div>






