<!-- <div class="container-fluid image fixed-top">
              <nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
                <a class="navbar-brand" href="#">
                        <img src="assets\car.jpg" alt="logo" style="width:90px;">
                </a> 
                <ul class="navbar-nav justify-content-center" style="text-align:center">
                                <li class="nav-item text-light">
                                  <span style="text-align: center">CARSPRAC</span>
                                </li>    
                </ul>       
        </nav>  
      -->
<!--first way-->
<!-- <div class="sidebar image" style="height: 600px">
                <a class="" href="#home"><i class="fa fa-fw fa-home"></i>Home</a>
                <a href="">Book For Servicing</a>
                <a href="#contact"><i class="fa fa-bars" aria-hidden="true" style="margin-right:10px;"></i>Booking List</a>
                <a href="#about">Order Status</a>
                <a href="#about">History</a>
    
                <a routerLink="editprofile">Edit Profile</a>
                <a href="#about">Change Password</a>
                <a href="#about">Feedback/Rating</a>
                <a href="">Delete Account</a>
                <a href="">Logout</a>
               
               
                

              </div>
              <router-outlet></router-outlet>  -->

<!--second way-->
<!-- <div class="row">
          <div class="col-sm-2">
              <div class="sidebar">
                  <a routerLink="editprofile">Edit Profile</a>
                  <a href="#news">News</a>
                  <a href="#contact">Contact</a>
                  <a href="#about">About</a>
                  <a href="#news">News</a>
                  <a href="#contact">Contact</a>
                  <a routerLink="editprofile">Edit Profile</a>
                  <a href="#news">News</a>
                  <a href="#contact">Contact</a>
                  <a href="#about">About</a>
                </div>
          </div>
          <div class="col-sm-10">
              <router-outlet></router-outlet>
      </div>
</div> -->
<!--third way-->
<!-- <div class="row"> 
    <div class="col-sm-2">

  <div class="sidebar">
   

    <a class="" href="#home"><i class="fa fa-fw fa-home"></i>Home</a>
    <a href=""><i class="fa  fa-fw fa-book" aria-hidden="true"></i>Book For Servicing</a>
    <a href="#contact"><i class="fa  fa-fw fa-bars"></i>Booking List</a>
    <a href="#about"><i class="fa fa-fw fa-wrench"></i>Order Status</a>
    <a href="#about"><i class="fa fa-fw fa-history" aria-hidden="true"></i>History</a>

    <a routerLink="editprofile"><i class="fa fa-fw fa-user" aria-hidden="true"></i>Edit Profile</a>
    <a routerLink="chagepassword"><i class="fa fa-fw fa-key" aria-hidden="true"></i>Change Password</a>
    <a href="#about"><i class="fa fa-fw fa-star" aria-hidden="true"></i>Feedback/Rating</a>
    <a href=""><i class="fa fa-fw fa-trash" aria-hidden="true"></i>Delete Account</a>
    <a href=""><i class="fa fa-fw fa-sign-out"></i>Logout</a>


    <a href="#about"><i class="fa fa-fw fa-star" aria-hidden="true"></i>Feedback/Rating</a>
    <a href=""><i class="fa fa-fw fa-trash" aria-hidden="true"></i>Delete Account</a>
    <a href=""><i class="fa fa-fw fa-sign-out"></i>Logout</a>
    <a href="#about"><i class="fa fa-fw fa-star" aria-hidden="true"></i>Feedback/Rating</a>
    <a href=""><i class="fa fa-fw fa-trash" aria-hidden="true"></i>Delete Account</a>
    <a href=""><i class="fa fa-fw fa-sign-out"></i>Logout</a>

  </div>
</div>
<div class="col-sm-10 ">
    <router-outlet></router-outlet>
</div>

</div> -->
<div class="contianer-fluid">
  <div class="row">
    <div class="col  fixed-top">
      <nav class="navbar navbar-expand-sm bg-lightnavbar-light "
        style="background-color: #5f5f5f;;height: 50px;width:2000px;">
        <a class="navbar-brand" href="#">
          <img src="assets\car.jpg" alt="logo" style="width:90px;">
        </a>
        <ul class="navbar-nav justify-content-center" style="text-align:center">
          <li class="nav-item text-darkt">
            <span style="text-align: center">CARSPRAC</span>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <div class="sidebar ">
        <a class="active" href="#home"><i class="fa fa-fw fa-home"></i>Home</a>
        <a routerLink="Book"><i class="fa fa-fw fa-book " aria-hidden="true"></i>Book For Servicing</a>
        <a routerLink="changepassword"><i class="fa fa-fw fa-key" aria-hidden="true"></i>Change Password</a>
        
        <a href="#contact"><i class="fa  fa-fw fa-bars"></i>Booking List</a>
        <a href="#about"><i class="fa fa-fw fa-wrench"></i>Order Status</a>
        <a href="#about"><i class="fa fa-fw fa-history" aria-hidden="true"></i>History</a>

        <a routerLink="editprofile"><i class="fa fa-fw fa-user" aria-hidden="true"></i>Edit Profile</a>
        <a href="#about"><i class="fa fa-fw fa-star" aria-hidden="true"></i>Feedback/Rating</a>
        <a href=""><i class="fa fa-fw fa-trash" aria-hidden="true"></i>Delete Account</a>
        <a href=""><i class="fa fa-fw fa-sign-out"></i>Logout</a>

      </div>
    </div>


    <div class="col-sm-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>