/* input[type="text"] {
    width: 100%;
    padding-left: 80px ;
        text-align: left;
    /* margin: 8px 0; */
    /* box-sizing: border-box; 
    border-radius: 10px;
  
  } */
  .input{
      border-radius: 20px;
  }
  
    .image{
         height:40em; 
        height:60em;
        background-size:cover;
        width:auto;
        background-image:url('/assets/background.jpg');

       
        /* background-image:url('D:\Angularjs\CarSparcFinalProject\src\assets\background.jpg'); */

        background-position:50% 50%;
    }
    .card{
        border: 2px solid white;
        padding: 20px 20px; 
       
        margin-top: 80px;
        
        
        -webkit-box-shadow: -5px 2px 62px 8px rgba(240,231,240,1);
        -moz-box-shadow: -5px 2px 62px 8px rgba(240,231,240,1);
         box-shadow: -5px 2px 62px 8px rgba(240,231,240,1);
    }
    .mybutton{
        border-radius: 30px;
        padding:15px 10px;
        margin-top: 30px;
        display: inline-block;
        
    }
    #btnSearch,
#btnClear{
     /* display: inline-block;  */
    vertical-align: top;
    margin-top:30px;
    border-radius: 80px; 
    width: 150px;
    height: 60px;
    

}
   
