<p>view works!</p>



<table>
        <tr id="t01" >
          <th>id</th>
          <th>name</th>    
          <th>email</th>
          <th>mobileNumber</th>
          <th>otp</th> 
          <th>pincode</th>
          <th>address</th> 
          <th>password</th>
          <th>Update</th> 
          <th>Delete</th>
        </tr>
        <tr *ngFor="let us of user">
          <td>{{us.id}}</td>
          <td>{{us.name}}</td>
          <td>{{us.email}}</td>
          <td>{{us.mobileNumber}}</td>
          <td>{{us.otp}}</td>
          <td>{{us.pincode}}</td>
          <td>{{us.address}}</td>
          <td>{{us.password}}</td>
          <td><a routerLink="editprofile" (click)="send(us.id)">update</a></td>
          <td><a routerLink="view" (click)="deleteById(us.id)">delete</a></td>
        </tr>
      
      </table>
     
      