.image{
    /* height:40em;  */
    height:60em;
    background-size:cover;
    width:auto;
    background-image: url('/assets/background.jpg');

    /* background-image:url('D:\Angularjs\CarSparcFinalProject\src\assets\background.jpg'); */
    background-position:50% 50%;
}
h1{
    color:white;
    margin-top:30px;
}
.card{
    
    border: 2px solid white;
    padding: 20px 20px; 
    margin-top: 70px;
    
    -webkit-box-shadow: -5px 2px 62px 8px rgba(240,231,240,1);
        -moz-box-shadow: -5px 2px 62px 8px rgba(240,231,240,1);
         box-shadow: -5px 2px 62px 8px rgba(240,231,240,1);
}

/* input{
    background: #f1f1f1;
    
    
} */
.myinputcss{
    border-radius: 10px;
    
    margin-top:100px;
}
input{
    background:whitesmoke;
}

button{
    border-radius: 30px;
    margin-top:20px;
    height:60px;
    padding:15px 10px;
}