<div class="container-fluid image">
    <div class="row">
        <div class="col-md-4"></div>
            <div class="col-md-4">

            <div class="card image" style="height:600px;width:400px;">
                <div class="card-body">
                    <h1 class="text-center">Forgot Password</h1>

                    <div class="form-group input-group-lg">
                        <label for="umobile"></label>
                        <input type="tel" id="umobile" class="form-control myinputcss" placeholder="Enter Mobile No"> 
                    </div>
                    
                    <div class="form-group text-center">
                        <button type="submit"[routerLink]="['/']" class="btn btn-primary btn-block">FORGOT PASSWORD</button>
                    </div>

                </div>


            </div>


        </div>
        <div class="col-md-4"></div>





    </div>







</div>
