.image{
    /* height:40em;  */
     height:40em;  
    height:60em;
    background-size:cover;
    width:auto;
    background-image: url('/assets/background.jpg');

    
    background-position:50% 50%;
}
h1{
    color:white;
    margin-top:30px;
}
.card{
    border:2px solid white;
    /* margin-top: 0px; */
    /* position: sticky;
    padding: 20px 20px; 
     
    margin-bottom: 30px; */
    border-radius: 20px;
     /* margin-top: 100px; */
     margin-bottom: 50px;
     margin-top: 80px;

    
   -webkit-box-shadow: -5px 2px 62px 8px rgba(240,231,240,1);
        -moz-box-shadow: -5px 2px 62px 8px rgba(240,231,240,1);
         box-shadow: -5px 2px 62px 8px rgba(240,231,240,1); 

               
         box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.67);
         -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.67);
         -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.67); 
         box-shadow: -10px 3px 28px 10px rgba(0,0,0,0.75);
-webkit-box-shadow: -10px 3px 28px 10px rgba(0,0,0,0.75);
-moz-box-shadow: -10px 3px 28px 10px rgba(0,0,0,0.75);
        
                   
        
}
img{
    width:100px;
    margin:auto;

}

h1{
    color:white;
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
}

.myinputcss{
    border-radius: 10px;
    /* margin-top:100px; */
    /* margin-top:10px; */
}

.mynavbar{
margin-left: 20px;
}
.container{
    margin: 0;
    padding: 0;
    width: 1000px;
   
    position: fixed;
    height: 100%;
    overflow: auto; 
}
.buttonCancelUpdate{
    border-radius:30px;
    /* margin-top: 10px; */
    padding-block:20px;
    margin-top:30px;
    
    width:150px;
    height:60px;
}
.mybutton{
    border-radius: 30px;
    padding:15px 10px;
    margin-top: 30px;
    display: inline-block;
    
}
nav{
    height:43px;
    width:490px;
    border-radius: 10px;
    margin-top:1px;
    margin-left:2px;
    margin-right:25x;
    background-color:skyblue
}