<div class="container-fluid image">
<div class="row">
        <div class="col-md-4"></div>
<form [formGroup]="setpassowrdModule">

            <div class="card image" style="width:400px;height:700px">
                <div class="card-body">
                    <h1 class="text-center" style="color:white;margin-top:100px">Set Password</h1>

                    <div class="form-group input-group-lg">
                        <label for="upassword"></label>
                        <input type="password" id="upassword" class="form-control Myinputs " placeholder="Enter Password" formControlName="varpassword">
                        <div class="validations" *ngIf="setpassowrdModule.controls['varpassword'].hasError('required')
                        && (setpassowrdModule.controls['varpassword'].touched || setpassowrdModule.controls['varpassword'].dirty)">
                        This field is required.

                        </div>
                        <div class="validations" *ngIf="setpassowrdModule.controls['varpassword'].hasError('pattern')">
                          Password should be in between 8 to 15 characters.
                        </div>
                    </div>

                    <div class="form-group input-group-lg">
                        <label for="uconpassword"></label>
                        <input type="password" id="uconpassword" class="form-control " placeholder="Confirm Password"formControlName="varconfirmPassword"compare="varpassword">
                        <div class="validations" *ngIf="setpassowrdModule.controls['varconfirmPassword'].hasError('required')
                        && (setpassowrdModule.controls['varconfirmPassword'].touched || setpassowrdModule.controls['varconfirmPassword'].dirt)">
                        This field is required.
                        </div>
                        <div class="validations" *ngIf="setpassowrdModule.controls['varconfirmPassword'].hasError('compare')">
                                Confirm Password do not match.

                        </div>
                    </div>

                

                    <div class="row">
                        <div class="col-md-12 text-center">
                            <button type="submit"  class="btn btn-primary btn-outline btn-md center-block" style="margin-right:20px"(click)="updatePasswordAction(setpassowrdModule.value)">Submit</button>
                            <button type="submit"[routerLink]="['/']" class="btn btn-danger btn-outline btn-md center-block">Cancel</button>

                        </div>

                    
                    </div>
               

                </div>

            </div>
</form>

        
    <div class="col-md-4"></div>


</div>
    

</div>