.image{
    /* height:40em;  */
    height:60em;
    background-size:cover;
    width:auto;
    background-image: url('/assets/background.jpg');

    /* background-image:url('D:\Angularjs\CarSparcFinalProject\src\assets\background.jpg'); */
    background-position:50% 50%;
}
.card{
    border:2px solid white;
    margin-top: 80px;
    -webkit-box-shadow: -5px 2px 62px 8px rgba(240,231,240,1);
        -moz-box-shadow: -5px 2px 62px 8px rgba(240,231,240,1);
         box-shadow: -5px 2px 62px 8px rgba(240,231,240,1);
        
}
.Myinputs{
    margin-top: 100px;
}
button{
    border-radius:30px;
    margin-top: 10px;
    padding-block:20px;
    margin-top:30px;
    margin-left:0px;
    width:150px;
    height:60px;

}

.form-rounded {
    border-radius: 1rem;
    color: beige;
    }